
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    background-repeat: no-repeat;
	background-size: cover;
	position: relative;

    &#about-banner {
        padding: 9.375rem 0 11.25rem 0;
    }
}
