
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    // background-image: url(../images/banner/banner1.png);
    // background-position: calc(100% - 6.25rem) center;
    // background-size: contain;

    h2 {
        color: $theme-color;
        font-style: italic;
    }
}
