
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: $topbar-color;
}

.footer-top{
	padding-top: 0;
	padding-bottom: 0;
}

.footer-main {
	padding-top: 3.5625rem;
	padding-bottom: 2.75rem;
	
	p {
		color: #8c8c8c;
	}

	.widget {
		a {
			font-family: $body-font;
			font-size: $font-size-base;
			color: rgba($color: #ffffff, $alpha: .5);
			
			&:hover {
				color: rgba($color: #ffffff, $alpha: 1.0);
			}
		}
	}

	.footer-logo {
		display: block;
	}
}

.footer-bottom {
	padding-top: 2.625rem;
	padding-bottom: 4.125rem;
}

.footer-line {
	border-bottom: 2px solid #151515;
}

#copyrights {
	color: #8c8c8c;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
}