
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	
	
	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #banner {
			margin-bottom: $header-height;
		}
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

#header-wrap {
	min-height: 4.625rem;

	@include media-breakpoint-up(xl) {
		min-height: 7.75rem;
	}
}

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	position: relative;
	padding: 0;

	@include media-breakpoint-up(xl) {
		top: 0.5rem;
		left: calc(50% - 2.5rem);
		position: absolute;
	}

	margin: 0rem;

	@include media-breakpoint-down(xl) {
		margin-left: auto;
		margin-right: auto;
	}

	img {
		margin-top: $spacer * 0.75;
		margin-bottom: $spacer;
		width: 5rem;
	}
}

/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

.links-flex {

	@include media-breakpoint-up(xl) {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
}

#primary-menu {
	position: relative;

	@include media-breakpoint-up(xl) {
		position: absolute;
		top: 4.125rem;
		width: 100%;
		height: 3.125rem;
		display: flex;
	}

	a.nav-link {
		color: $topbar-color;
		display: block;
		font-size: $font-size-base;
		
		@media (min-width: 1200px) {
			padding: 0;
		}

		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: 0.5rem;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;
		margin: 0;
		border-top: 3px solid $theme-color;
		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		@include media-breakpoint-up(xl) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $body-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}

}

/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {

	@include media-breakpoint-up(xl) {
		display: flex;
		align-items: center;
		padding-left: 1.375rem;
		height: 3.5625rem;
	}

	.nav-item {
		margin-right: 1.5rem;
	}

	.vl {
		height: 1.25rem;
		width: 1px;
		background-color: #cccccc;
		margin-right: 1.5rem;
	}

	.nav-link {
		color: $topbar-color;		
		font-size: $font-size-base;	
		line-height: 1;
		padding: 0 0.21875rem;

		span {
			margin-left: 0.75rem;
		}

		i {
			font-size: 0.9375rem;
			color: $theme-color;
			transition: all .3s ease-in-out;
		}

		&:hover {

			i{
				color: $topbar-color;
			}
		}	
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/


#top-links {
	.nav-item {
		@media (min-width: 1200px) {
			padding-left: 1.9375rem;		
		}
	}

	a.nav-link {
		color: $topbar-color;
		display: block;
		font-size: $font-size-base;
		
		@media (min-width: 1200px) {
			padding: 0;
		}

		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: 0.5625rem;
			color: $theme-color;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;
		margin: 0;
		border-top: 3px solid $theme-color;
		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		@include media-breakpoint-up(xl) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $body-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}

/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/

#top-infos {
	display: flex;
}

/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






