
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	.sub-title {
		font-family: $heading-font;
		font-size: 2.1875rem;
		color: $topbar-color;
		font-weight: 500;		
		line-height: 1;
	}

	.title {
		font-weight: 500;
		line-height: 1.25;
		color: #ffffff;
	}
}

.breadcrumb {
	margin-top: 1.25rem;
	line-height: 1;

	li {
		a{
			font-family: $body-font;
			font-size: $font-size-base;
			line-height: 1;
			color: #b0b0b0;
	
			&.active {
				color: $theme-color;
			}
	
			&:hover {
				transition: all .3s ease-in-out;
				color: $theme-color;
			}
		}
	}
}