/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.heading-font { font-family: $heading-font !important; }
.body-font { font-family: $body-font !important; }

// Font Weight
.fw-medium { font-weight: 500 !important; }
.fw-semi-light { font-weight: 350; }
.fw-semi-bold { font-weight: 600; }

// Text Color
.text-black { color: #000 !important; }
.text-black-opacity { color: rgba($color: $topbar-color, $alpha: .5) !important; }
.text-light-black { color: rgba($color: #000000, $alpha: .8) !important; }
.text-white-opacity { color: rgba($color: #ffffff, $alpha: .8) !important; }
.theme-color { color: $theme-color; }
//background-color
.bg-black { background-color: black; }
.bg-white { background-color:  white; }

//text-alignment
.text-xl-down-center { 
	text-align: center !important;

	@include media-breakpoint-up(xl) {
		text-align: start !important;
	}
}

.opacity-80 { opacity: 0.8 !important; }

//background-color
.bg-grey { background-color: #f3f5f4; }
//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
	}
}

//--------------------Container------------------//

.padding-left {
	width: 100%;
	@include media-breakpoint-up(sm) { padding-left: calc(50% - 540px / 2); }
	@include media-breakpoint-up(md) { padding-left: calc(50% - 720px / 2); }
	@include media-breakpoint-up(lg) { padding-left: calc(50% - 960px / 2); }
	@include media-breakpoint-up(xl) { padding-left: calc(50% - 1140px / 2); }
	@include media-breakpoint-up(xxl) { padding-left: calc(50% - 1320px / 2); }
}

//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}

.section-padding-top {
	padding-top: $section-spacer;
}

.section-padding-bottom {
	padding-bottom: 8.125rem;
}

.section-margin-top {
	margin-top: $section-spacer;
}

.section-margin-bottom {
	margin-bottom: $section-spacer;
}

button:focus {
	box-shadow: 0 0 0 0 !important;
}