
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 3.5rem; 

	.sub-title {
		margin-top: 0.65rem;
		
	}

	.title {		
		display: block;
		font-family: $heading-font;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0;
	}

}