
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 3rem; 

	.title {		
		font-family: Oswald,sans-serif;
		font-size: 5.3125rem;
		color: #000;
		font-weight: 500;
		line-height: 1;
	}

	.sub-title {
		opacity: 0.8;
		font-weight: 400;
	}

}